* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flexbox;
  flex-direction: column;
  position: relative;
  align-items: center; /*align horizontally*/
  justify-content: center; /*align vertically*/
  overflow-x: hidden;
  margin: 0;
}

.landingDisplay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
  color: white;
  height: 100vh;
  width: 100vw;
}
