@import url("http://fonts.cdnfonts.com/css/neo-latina");
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flexbox;
  flex-direction: column;
  font-family: "Matrix", sans-serif;
  position: relative;
  align-items: center; /*align horizontally*/
  justify-content: center; /*align vertically*/
  overflow-x: hidden;
  margin: 0;
}

.landingDisplay {
  font-family: "neo latina", sans-serif;
  display: flex;
  font-size: larger;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(255, 254, 254);
  height: 100vh;
  width: 100vw;
}
.projectsDisplay {
  font-family: "neo latina", sans-serif;
  display: flex;
  font-size: larger;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(255, 254, 254);
  height: 100vh;
  width: 100vw;
}
.aboutMeDisplay {
  font-family: "neo latina", sans-serif;
  display: flex;
  font-size: larger;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(255, 254, 254);
  height: 100vh;
  width: 100vw;
}
